# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.psess
*.vsp
*.vspx
*.sap

# Rider / ReSharper
.idea/
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Publish
[Pp]ublish/
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.pubxml.user
PublishProfiles/
PublishScripts/

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# MSBuild / temp
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds

# Runtime / local
errores.log
*.mdf
*.ldf

# OS
.DS_Store
Thumbs.db

# Misc IDE assistants
.atl/
